{% extends "templates/default.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
  <h1 class="display-3">Bem-vindo(a) à {{title}}!</h1>
</div>
{% endblock %}

{% block script %}
{{ parent() }}
<script>
  const productId = "{{optionals['productId']}}";
</script>
<script type="text/javascript" src="{{assetsPath}}/js/pages/product.js"></script>
{% endblock %}