{% extends "templates/centered.twig" %}

{% block title %}
	{{title}}
{% endblock %}

{% block content %}
	<div class="container d-flex justify-content-center">
		<div class="col-lg-9 px-0">
	    <div class="card p-5">
				<div class="row">

					<div class="col-lg-6">
						<div class="d-flex justify-content-center">
							<img class="mb-3" src="{{assetsPath}}/img/sys/SSMLogo.svg" height="70px" width="auto" alt="SSM Logo">
						</div>
						<h1 class="h3 mb-3 text-center">Realizar Cadastro</h1>
						<h2 class="h6 text-secondary text-center">
							Seja bem-vindo(a) ao Sales Stock Manager!<br>
							Realize seu cadastro no formulário abaixo:
						</h2>
						<hr class="my-3">
						<h3 class="h5 text-center mt-3">Usuário</h3>
						<input id="inputLogin" type="text" class="form-control my-1" placeholder="Usuário">
						<input id="inputPass" type="password" class="form-control my-1" placeholder="Senha">
						<input id="inputPass2" type="password" class="form-control my-1" placeholder="Confirme a senha">
					</div>

					<div class="col-lg-6">
						<h3 class="h5 text-center mt-3">Perfil</h3>
						<input id="inputName" type="text" class="form-control my-1" placeholder="Nome">
						<input id="inputEmail" type="email" class="form-control my-1" placeholder="Email">

						<h3 class="h5 text-center mt-3">Endereço</h3>
						<div class="d-flex justify-content-between align-items-center">
							<input id="inputCep" type="text" class="form-control my-1 mr-2" placeholder="CEP">
							<div>
								<button id="btnCep" class="btn btn-secondary">Buscar</button>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 pr-lg-1">
								<input id="inputCidade" type="text" class="form-control my-1" placeholder="Cidade" disabled>
							</div>
							<div class="col-lg-6 pl-lg-1">
								<input id="inputEstado" type="text" class="form-control my-1" placeholder="Estado" disabled>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 pr-lg-1">
								<input id="inputBairro" type="text" class="form-control my-1" placeholder="Bairro" disabled>
							</div>
							<div class="col-lg-6 pl-lg-1">
								<input id="inputComplemento" type="text" class="form-control my-1" placeholder="Complemento">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-8 pr-lg-1">
								<input id="inputLogradouro" type="text" class="form-control my-1" placeholder="Logradouro" disabled>
							</div>
							<div class="col-lg-4 pl-lg-1">
								<input id="inputNum" type="text" class="form-control my-1" placeholder="Número">
							</div>
						</div>
					</div>

					<div class="row w-100 mx-0">
						<div id="alert" class="w-100 mx-3 my-2"></div>
						<button id="btnSignup" class="btn btn-primary btn-block mx-3">Criar conta</button>
					</div>

				</div>
	    </div>
		</div>
	</div>
{% endblock %}

{% block script %}
	{{ parent() }}
	<script type="text/javascript" src="{{assetsPath}}/js/core/md5.js"></script>
	<script type="text/javascript" src="{{assetsPath}}/js/pages/signup.js"></script>
{% endblock %}