<!DOCTYPE html>
<html lang="pt-BR">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.0/sweetalert2.min.css">
  <link rel="stylesheet" href="{{assetsPath}}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{assetsPath}}/css/custom.css">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{assetsPath}}/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{assetsPath}}/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{assetsPath}}/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{assetsPath}}/img/favicon/site.webmanifest">

  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body>
  <div id="overlay" onclick="helper.closeNav()"></div>
  <div id="sidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="helper.closeNav()">&times;</a>

    {% if user is not null %}
    <hr class="my-3">

    <div class="card p-3 mx-3">
      <div class="d-flex">
        <div class="img-navbar-container rounded-circle">
          <img class="profile-pic" src="{{assetsPath}}{{user['imagePath']}}" alt="Foto de perfil">
        </div>
        <div class="ml-3">
          <span class="breakline">{{ user['name'] }}</span>
          <div class="d-flex align-items-center">
            <span class="online mr-1"></span><span>Online</span>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <hr class="my-3">

    <div class="flex-menu mb-3 px-2">
      <div class="col-6 px-1">
        <div class="card-menu card text-center p-3">
          <img class="mb-2" src="{{assetsPath}}/img/sys/icons/shop.svg" alt="Início">
          <span>INÍCIO</span>
          <a href="{{basePath}}/" class="stretched-link"></a>
        </div>
      </div>

      <div class="col-6 px-1">
        <div class="card-menu card text-center p-3">
          <img class="mb-2" src="{{assetsPath}}/img/sys/icons/profile.svg" alt="Perfil">
          <span>PERFIL</span>
          {% if user is null %}
          <a href="{{basePath}}/login" class="stretched-link"></a>
          {% else %}
          <a href="{{basePath}}/users/{{user['id']}}" class="stretched-link"></a>
          {% endif %}
        </div>
      </div>

      <div class="col-6 px-1">
        <div class="card-menu card text-center p-3">
          <img class="mb-2" src="{{assetsPath}}/img/sys/icons/shopping-bag.svg" alt="Sacola">
          <span>SACOLA</span>
          <a href="{{basePath}}/cart" class="stretched-link"></a>
        </div>
      </div>

      <div class="col-6 px-1">
        <div class="card-menu card text-center p-3">
          <img class="mb-2" src="{{assetsPath}}/img/sys/icons/delivery.svg" alt="Pedidos">
          <span>PEDIDOS</span>
          <a href="{{basePath}}/users/orders" class="stretched-link"></a>
        </div>
      </div>

      {% if user is not null %}
      {% if user['admin'] == 1 %}
      <div class="col-6 px-1">
        <div class="card-menu card text-center p-3">
          <img class="mb-2" src="{{assetsPath}}/img/sys/icons/admin.svg" alt="Admin">
          <span>ADMIN</span>
          <a href="{{basePath}}/admin" class="stretched-link"></a>
        </div>
      </div>
      {% endif %}
      {% endif %}

      {% if user is not null %}
      <div class="col-6 px-1">
        <div class="card-menu card text-center p-3">
          <img class="mb-2" src="{{assetsPath}}/img/sys/icons/signout.svg" alt="Sair">
          <span>SAIR</span>
          <a href="{{basePath}}/logout" class="stretched-link"></a>
        </div>
      </div>
      {% else %}
      <div class="col-6 px-1">
        <div class="card-menu card text-center p-3">
          <img class="mb-2" src="{{assetsPath}}/img/sys/icons/signin.svg" alt="Entrar">
          <span>ENTRAR</span>
          <a href="{{basePath}}/login" class="stretched-link"></a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="navbar bg-white shadow-sm sticky-top py-3">
    <div class="container d-flex justify-content-between">
      <a href="{{basePath}}/">
        <img src="{{assetsPath}}/img/sys/SSMLogo.svg" height="40px" width="auto" alt="SSM Logo">
      </a>
      <div class="d-flex">
        <button onclick="helper.openNav()" class="btn btn-primary d-flex align-items-center">
          <img src="{{assetsPath}}/img/sys/icons/menu.svg" height="22px" alt="Menu">
        </button>
        <a href="{{basePath}}/cart" class="position-relative btn btn-success ml-1">
          <img src="{{assetsPath}}/img/sys/icons/bag.svg" height="23px" alt="Sacola">
          <span id="bag" class="badge badge-danger badge-font rounded-circle px-2 py-1 position-absolute">0</span>
        </a>
      </div>
    </div>
  </div>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    {% block footer %}
    {% endblock %}
  </footer>

  {% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.0/sweetalert2.js"></script>
  <script type="text/javascript" src="{{assetsPath}}/js/core/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="{{assetsPath}}/js/core/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{assetsPath}}/js/core/helper.js"></script>
  <script type="text/javascript">
    const basePath = '{{basePath}}'
    const assetsPath = '{{assetsPath}}'
  </script>
  {% endblock %}
</body>

</html>